---
layout: land
---
<section id="home">
    {% include header.html %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 intro">
        <h4>Hello, my name is Harsha and I am</h4>
        <h1 class="fullstack">Full Stack Web Developer</h1>
      </div>
      <a href="#profile">
        <div class="icon">
          <i class="fa fa-angle-down wow slideInDown" data-wow-duration="1.5s" data-wow-delay="0s" data-wow-iteration="60"></i>
        </div>
      </a>
    </div>
  </div>
</div>
</section>

{% include about.html %}
{% include skills.html %}
{% include portfolio.html %}
{% include contact.html %}
