<section id="profile">
  <div class="about">
    <h2 class="heading">About Me</h2> 
    <div class="container">
      <div class="row">
        <div class="col-md-7 details">
          <h3 class="name">Sri Harsha Andhavarapu</h3>
          <p>I am a Dual Degree graduate in Software Engineering from Andhra University.I am a Full Stack web Developer and I work on Ruby on Rails. I also enjoy working on Front-End.I have built multiple products till date along with learning various tecnologies.I always wanted to build ideas into products. I love music and badminton as well.</p>
        </div>
        <div class="col-md-4 col-md-offset-1">
          <img src="../images/prof.jpg" alt="About" class="aboutimage">
        </div>
      </div>
    </div>
  </div>
</section>