<section id="profile">
  <div class="about">
    <h2 class="heading">About Me</h2> 
    <div class="container">
      <div class="row">
        <div class="col-md-7 details">
          <h3 class="name">Sri Harsha Andhavarapu</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem officia omnis maiores reprehenderit! Ex, vero autem a soluta odio vel, voluptates fugiat, quas voluptas itaque illum! Distinctio facilis repellat non voluptatibus, perferendis et quisquam iste delectus minus suscipit qui neque blanditiis iure omnis, quo harum rerum vero temporibus similique! Ipsa?</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro dignissimos eligendi voluptatem! Ducimus iusto earum voluptatum, rem tenetur libero nostrum?</p>
        </div>
        <div class="col-md-4 col-md-offset-1">
          <img src="../images/prof.jpg" alt="About" class="aboutimage">
        </div>
      </div>
    </div>
  </div>
</section>