<section id="contact">
  <div class="heading">
    <h2>Contact</h2>
    <p>Getting in touch is easy</p>
  </div>
  <div class="container">

    <div class="row contact_info">
      <div class="col-md-offset-4 col-md-1">
        <img class="img-responsive" src="images/mail.png" alt="email">
      </div>

      <div class="col-md-6">
        <p><strong>sriharsha67@gmail.com</strong></p>
      </div>
    </div>

    <div class="row contact_info">
      <div class="col-md-offset-4 col-md-1">
        <img class="img-responsive" src="images/call.png" alt="phone">
      </div>

      <div class="col-md-6">
        <p><strong>+91-9160940185</strong></p>
      </div>
    </div>

    <div class="row contact_info">
      <div class="col-md-offset-4 col-md-4 col-md-offset-4">
        <button type="button" class="btn btn-default btn-lg">
          <a href="https://www.facebook.com/sriharsha67">
            <i class="fa fa-facebook"></i><span>Facebook</span>
          </a>
        </button>

        <button type="button" class="btn btn-default btn-lg">
          <a href="https://www.github.com/sriharsha67">
            <i class="fa fa-github"></i><span>Github</span>
          </a>
        </button>

        <button type="button" class="btn btn-default btn-lg">
          <a href="https://in.linkedin.com/in/sri-harsha-andhavarapu-01a578102">
            <i class="fa fa-google-plus"></i><span>Google</span>
          </a>          
        </button>
      </div>
    </div>

  </div>
</section>
