<section id="portfolio">
  <div class="projects">
    <div class="heading">
      <h2>Portfolio</h2>
      <p>Projects that I've worked on</p>
    </div>
    <div class="container">
      <div class="row">

       <div class="col-md-3 col-md-offset-1 projdetails">
         <img src="../images/abacus99.jpg" alt="Responsive image" class="img-responsive projectimg">
         <h2 class="projname">Abacus</h2>
       </div>

       <div class="col-md-3 col-md-offset-1 projdetails">
         <img src="../images/cross.jpg" alt="Responsive image"  class="img-responsive projectimg">
       </div>

       <div class="col-md-3 col-md-offset-1 projdetails">
         <img src="../images/abacus99.jpg" alt="Responsive image" class="img-responsive projectimg">
         <h2 class="projname">Abacus</h2>
       </div>

     </div>
   </div>
 </div>
</section>