<section id="portfolio">
  <div class="projects">
    <div class="heading">
      <h2>Portfolio</h2>
      <p>Projects that I've worked on</p>
    </div>
    <div class="container">
      <div class="row">

        <div class="col-md-3 col-md-offset-1 ">
          <div class="modal fade" id="myModal0" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="myModalLabel" style="color: #000;">Abacus</h4>
                </div>
                <!-- END modal header -->
                <div class="modal-body " style="text-align: center;">
                  <img src="../images/abacus.jpg" alt="Abacus" class="img-responsive">
                </div>
                <!-- END modal body -->
                <div class="modal-footer">
                  <a href="http://github.com/sriharsha67/abacus" type="button" class="btn btn-default" style="text-transform: capitalize;"><span class="glyphicon glyphicon-list-alt"></span> Github URL</a>
                  <a href="http://sriharsha67.github.io/abacus/" type="button" class="btn btn-default" style="text-transform: capitalize;"><span class="glyphicon glyphicon-list-alt"></span> View Demo</a>
                </div>
                <!-- END modal footer -->
              </div>
            </div>
          </div>
          <!-- END Modal [0] -->
          <a href="#" data-toggle="modal" data-target="#myModal0">
            <div class="excerpt android-calculator">
              <img src="../images/abacus.jpg" alt="Abacus" class="img-responsive">
            </div>
          </a>
        </div>

        <div class="col-md-3 col-md-offset-1">
          <div class="modal fade" id="myModal01" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="myModalLabel" style="color: #000;">PSD TO HTML</h4>
                </div>
                <!-- END modal header -->
                <div class="modal-body " style="text-align: center;">
                  <img src="../images/psd.jpg" alt="Abacus" class="img-responsive">
                </div>
                <!-- END modal body -->
                <div class="modal-footer">
                  <a href="https://github.com/sriharsha67/psd_project" type="button" class="btn btn-default" style="text-transform: capitalize;"><span class="glyphicon glyphicon-list-alt"></span> Github URL</a>
                  <a href="https://sriharsha67.github.io/psd_project/" type="button" class="btn btn-default" style="text-transform: capitalize;"><span class="glyphicon glyphicon-list-alt"></span> View Demo</a>
                </div>
                <!-- END modal footer -->
              </div>
            </div>
          </div>
          <!-- END Modal [0] -->
          <a href="#" data-toggle="modal" data-target="#myModal01">
            <div class="excerpt psdtohtml">
              <img src="../images/psd.jpg" alt="Abacus" class="img-responsive">
            </div>
          </a>
        </div> 

        <div class="col-md-3 col-md-offset-1">
          <div class="modal fade" id="myModal02" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="myModalLabel" style="color: #000;">Social Matrimony</h4>
                </div>
                <!-- END modal header -->
                <div class="modal-body " style="text-align: center;">
                  <img src="../images/matrimony.jpg" alt="Abacus" class="img-responsive">
                </div>
                <!-- END modal body -->
                <div class="modal-footer">
                  <a href="https://github.com/sriharsha67/social_matrimony" type="button" class="btn btn-default" style="text-transform: capitalize;"><span class="glyphicon glyphicon-list-alt"></span> Github URL</a>
                  <a href="https://socialmatrimony.herokuapp.com" type="button" class="btn btn-default" style="text-transform: capitalize;"><span class="glyphicon glyphicon-list-alt"></span> View Demo</a>
                </div>
                <!-- END modal footer -->
              </div>
            </div>
          </div>
          <!-- END Modal [0] -->
          <a href="#" data-toggle="modal" data-target="#myModal02">
            <div class="excerpt socialmatrimony">
              <img src="../images/matrimony.jpg" alt="Abacus" class="img-responsive">
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
