<section id="skills">
  <div class="skills">
    <h2 class="heading">Technical Skills</h2>
    <div class="container">
      <div class="row">
        <div class="col-md-4 loaderstyle">
          <canvas class="skillHTML"></canvas>
          <div >HTML</div>
        </div>
        <div class="col-md-4 loaderstyle">
          <canvas class="skillCSS"></canvas>
          <div>CSS</div>
        </div>
        <div class="col-md-4 loaderstyle">
          <canvas class="skillJS"></canvas>
          <div>JS</div>
        </div>
        <div class="col-md-4 loaderstyle">
          <canvas class="skilljQuery"></canvas>
          <div>jQuery</div>
        </div>
        <div class="col-md-4 loaderstyle">
          <canvas class="skillRuby"></canvas>
          <div>Ruby</div>
        </div>
        <div class="col-md-4 loaderstyle">
          <canvas class="skillRails"></canvas>
          <div>Rails</div>
        </div>
      </div>
    </div>
  </div>
</section>