#contact{
  min-height: 80vh;
  width: 100vw;
  border: 1px solid transparent;
  
  .heading{
    text-align: center;
    padding-bottom: 1.5em;
    text-transform: uppercase;
    color: #FF675F;
    font-family: 'Architects Daughter', cursive;
  }

  .contact_info{
    margin-top: 5vmin;

    p{
      font-size: 1.5em;
      padding-top: 20px;
    }

    span{
      padding-left: 5px;
    }
  }

  a{
    text-decoration: none;
    color: black;
  }
}