body{
  overflow-x: hidden;
}

#home{
  position: relative;
  height: 100vmin;
  width: 100vw;
  color: #ffffff;
  background-image: url('../images/bgimg.jpg');
  height: 100vh;
  width: 100vw;
  background-size: cover;

  .intro{
    text-align: center;
    position: absolute;
    top: 50%;
    transform:translateY(-50%);
    font-family: 'Architects Daughter', cursive;
  }

  .fullstack{
    text-transform: uppercase;
    text-align: center;   
    font-family: 'Architects Daughter', cursive;
  }

  .icon{
    position: absolute;
    left: 50%;
    bottom: 40px;
    height: 50px;
    width: 50px;
    // padding: 5px;
    transform:translateX(-50%);
    color: #ffffff;
  }

  i{
    font-size: 2.5em;
  }
}
