#portfolio{
  min-height: 80vh;
  width: 100vw;
  background-color: #2BB3DD;
  border: 1px solid #2BB3DD;
  color: #ffffff;
  border: 1px solid transparent;

  .heading{
    text-align: center;
    text-transform: uppercase;
    font-family: 'Architects Daughter', cursive;
  }

  img {
    width: 100%;
  }

  .excerpt {
    background-repeat: no-repeat;
    background-position: 90% 85%;
    display: inline-block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.9);
    position: relative;

    &:hover {
      background-color: black;

      img {
        opacity: 0.25;
      }
    }    
  }

  .on-hover-heading {
    position: absolute;
    color: white;
    padding: 20px;
    font-weight: 700;
    line-height: 10%;
  }

  .on-hover-paragraph {
    display: inline;
    color: white;
    font-weight: 400;
    text-transform: none;
    line-height: 120%;
    font-size: 0.8em;
  }
}